In [6]:
def add(x,y):
    print(x+y)
    print(x-y)
    print(x*y)
    print(x/y)
add(5,4)

9
1
20
1.25

# contact applications:

In [16]:
# Add contacts
contacts={}
def add_contacts(name,number):
    if name not in contacts:
        contacts[name]=number
        print("contact is added")
    else:
            print("contact is already exist")
add_contacts("srinu","6305711236")

contact is added

In [17]:
contacts

{'srinu': '6305711236'}

In [30]:
add_contacts("raju","163632586")

contact is already exist

In [33]:
add_contacts("shiva","936551422")

contact is already exist

In [26]:
# search contacts:
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("contact not exist")
searchcontact("srinu")

srinu : 6305711236

In [24]:
contacts

{'srinu': '6305711236'}

In [29]:
contacts

{'srinu': '6305711236', 'raju': '163632586'}

In [34]:
contacts

{'srinu': '6305711236', 'raju': '163632586', 'shiva': '936551422'}

In [43]:
# delete contacts:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print("contact is delete")
    else:
        print("contacts not exist")
deletecontact("raju")

contacts not exist

In [40]:
contacts

{'srinu': '6305711236', 'raju': '163632586', 'shiva': '936551422'}

In [42]:
contacts

{'srinu': '6305711236', 'shiva': '936551422'}

In [49]:
# merge contacts:
def mergecontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts are added")
newcontacts={"ramu":"35365","laxmi":"54867","kholi":"181818"}
mergecontact(newcontacts)

3 contacts are added

In [50]:
contacts

{'srinu': '6305711236',
 'shiva': '936551422',
 'ramu': '35365',
 'laxmi': '54867',
 'kholi': '181818'}

# string

In [52]:
s="python"
print(s.lower())
print(s.upper())
print(" ".join(s))
print("#".join(s))

python
PYTHON
p y t h o n
p#y#t#h#o#n

In [53]:
# split method
t="python is a simple programming language"
print(t.split())
print(t.split("i"))
print(t.split("o"))

['python', 'is', 'a', 'simple', 'programming', 'language']
['python ', 's a s', 'mple programm', 'ng language']
['pyth', 'n is a simple pr', 'gramming language']

In [55]:
# replace method
t="kohli is the best player in the world"
print(t.replace("best","greatest"))

kohli is the greatest player in the world

# boolean functions:

In [58]:
s="python"
print(s.islower())
s1="PYTHON"
print(s1.isupper())
s2="Python"
print(s2.istitle())
s3="Python333"
print(s3.isnumeric())
s4="PYTHON"
print(s4.isalpha())
s5=" "
s6=" p "

True
True
True
False
True

In [59]:
print(s2.isalpha())

True

In [60]:
print(s6.isnumeric())

False

In [63]:
print(s4.islower())
print(s4.istitle())

False
False

In [64]:
# syntax:
def <function_name>(<paramaters):
    statement
    return

SyntaxError: invalid syntax (Temp/ipykernel_12032/2200823315.py, line 2)

In [66]:
# add 2 number
def add(x,y):
    print(x*y)
    print(x+y)
add(4,5)

20
9

# File handling:

In [68]:
f=open("file.txt","r")
print(f.read())

welcome to file handling.

In [70]:
f=open("notebook.txt","r")
print(f.read())

helloo
my name is srinu.

In [73]:
f=open("notebook.txt","r")
print(f.read(7))

helloo

In [74]:
#creat a file and write something to file
def creatfile(filename):
    f=open (filename,"w")
    for i in range (12):
        f.write("i am learning python language""\n")
    print("file is created")
creatfile("text.txt")

helloo
my name is srinu.
my father name is suryanarayana.
my mother name is nirmala.
i am completed my gradution.

In [75]:
f=open("notebook.txt","r")
print(f.read(16))

helloo
my name i

In [76]:
f=open("notebook.txt","r")
print(f.readline())

helloo

In [77]:
f=open("notebook.txt","r")
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())

helloo

my name is srinu.

my father name is suryanarayana.

my mother name is nirmala.

i am completed my gradution.

In [79]:
#creat a file and write something to file
def creatfile(filename):
    f=open (filename,"w")
    for i in range (12):
        f.write("i am learning python language""\n")
    print("file is created")
creatfile("text.txt")

file is created

In [80]:
# append a file and write something to file
def creatfile(filename):
    f=open (filename,"a")
    for i in range (6):
        f.write("helloo world""\n")
    print("file is created")
creatfile("text.txt")

file is created

In [81]:
#creat a file and write something to file
def creatfile(filename):
    f=open (filename,"w")
    for i in range (12):
        f.write("i am learning python language""\n")
    print("file is created")
creatfile("text.txt")

file is created

In [83]:
f=open("text.txt","r")
print(f.read())

i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language
i am learning python language