In [1]:
# read a file
def readfile(filename):
    with open(filename,"r") as f:
        if f.mode=="r":
            x=f.read()
            print(x)
readfile("notebook.txt")

helloo
my name is srinu.
my father name is suryanarayana.
my mother name is nirmala.
i am completed my gradution.

In [2]:
# word count
def wordcount(filename):
    with open(filename,"r") as f:
        if f.mode=="r":
            x=f.read()
            l=x.split()
        return len(l)
wordcount("notebook.txt")

20

In [3]:
wordcount("text.txt")

60

In [4]:
# specific wordcount
def specific(filename,word):
    with open(filename,"r") as f:
        if f.mode=="r":
            x=f.read()
            l=x.split()
        return l.count(word)
specific("notebook.txt","helloo")

1

In [5]:
# count characters
def char(filename):
    with open(filename,"r") as f:
        if f.mode=="r":
            x=f.read()
            l=list(x)
            return len(l)
char("notebook.txt")

113

In [6]:
# count lines
def countlines(filename):
    with open(filename,"r") as f:
        if f.mode=="r":
            x=f.read()
            l=x.split("\n")
    return len(l)
countlines("text.txt")

13

In [7]:
countlines("notebook.txt")

5

# string slicing:

In [8]:
s="python programmming"
print(s,type(s))

python programmming <class 'str'>

In [9]:
# access
print(s[0])
print(s[-1])
print(s[0:8])
print(s[1:9])

p
g
python p
ython pr

In [10]:
# want to print string
print(s[1:-1])
print(s[2:-3])

ython programmmin
thon programmm

# Ascii systems:

In [11]:
# reverse
s="python programming"
print(s[::-1])

gnimmargorp nohtyp

In [12]:
print(s[::-5])

gapt

In [13]:
print(s[-1::1])

g

In [14]:
def reverse(n):
    return n[::-1]
reverse("python programming")

'gnimmargorp nohtyp'

In [15]:
def reverse(n):
    return n[::-1]
reverse("tulasi srinu")

'unirs isalut'

In [16]:
s="y"
s1="R"
print(s,ord(s),s1,ord(s1))

y 121 R 82

In [17]:
# A-Z
for i in range(65,90):
    print((i),end=" ")

65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89

In [18]:
# A-Z
for i in range(65,90):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y

In [19]:
#a-z
for i in range(97,122):
    print((i),end=" ")

97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121

In [20]:
#a-z
for i in range(97,122):
    print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y

In [21]:
# 0-9
for i in range(48,57):
    print(chr(i),end=" ")

0 1 2 3 4 5 6 7 8

In [22]:
# check give the string is palindrome or not
def palindrome(s):
    if s==s[::-1]:
        return True
    return False
palindrome("pytho")

False

In [23]:
palindrome("viakatakaiv")

True

In [24]:
palindrome("aha")

True

In [25]:
# print upper case characters from given string
def upper(x):
    for i in range(len(x)):
        if ord(x[i])>65 and ord(x[i])<91:
            print(x[i],end=" ")
upper("PYTHON programming")

P Y T H O N

In [26]:
# Pring lowercase characters from given string
def lower(x):
    for i in range(len(x)):
        if ord(x[i])>97 and ord(x[i])<123:
            print(x[i],end=" ")
lower("Python")

y t h o n

In [27]:
# print digits from given string
def digits(x):
    for i in range(len(x)):
        if ord(x[i])>48 and ord(x[i])<58:
            print(x[i],end=" ")
digits("srinu24062000")

2 4 6 2

In [28]:
# print space from given string
def space(x):
    for i in range(len(x)):
        if ord(x[i])<33:
            print(x[i],end=" ")
space("Python Programming")

In [29]:
# input:pyThOn
# output:PYtHoN
def case(x):
    s1 = "  "
    for i in range(len(x)):
        if ord(x[i])>65 and ord(x[i])<91:
            s1+=chr(ord(x[i])+32)
        elif ord(x[i])>97 and ord(x[i])<122:
            s1+=chr(ord(x[i])-32)
    return s1
case("pyThOn")

'  PYtHoN'

In [30]:
#input:tULASi
#output:TulasI
def case(x):
    s2=" "
    for i in range(len(x)):
        if ord(x[i])>65 and ord(x[i])<91:
            s2+=chr(ord(x[i])+32)
        elif ord(x[i])>97 and ord(x[i])<122:
            s2+=chr(ord(x[i])-32)
    return s2
case("tULASi")

' TulsI'

In [31]:
#input:P1y2y3o4
#output:10(1+2+3+4)
def sum(s):
    sum=0
    for i in range(len(s)):
        if ord(s[i])>=48 and ord(s[i])<=57:
            sum+=ord(s[i])-48 
    return sum
sum("P1y2y3o4")

10

In [32]:
#input:s873ba84h
def sum(s1):
    sum=0
    for i in range(len(s1)):
        if ord(s1[i])>=48 and ord(s1[i])<57:
            sum+=ord(s1[i])-48
    return sum
sum("s873ba84h")

30

In [33]:
#input:123456
#output:(2+4+6)=12
def even(x):
    sum = 0
    while x !=0:
        a=x%10
        if a%2==0:
            sum= sum+a
        x =x//10
        return sum
even(123456)

6

In [34]:
#input:1223
#output:3221
def reverse(n):
    rev=0
    while n !=0:
        a=n%10
        rev=rev*10+a
        n=n//10
    return rev
reverse(1223)

3221

In [35]:
#print N Natural number
def number(n):
    for i in range(1,n+1):
        print(i,end=" ")
number(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [36]:
number(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [44]:
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
for i in range(lower,upper):
    if(i%2!=0):
        print(i)

Enter the lower limit for the range:2
Enter the upper limit for the range:13
3
5
7
9
11